<footer class="main_footer">
    <ul>
        <li><a href="/about">About Us</a></li>
        <li><a href="/contact">Contact Us</a></li>
        <!-- <div class="footer_social"> -->
        <li class="footer_social"><a href="https://www.facebook.com"><img src="/images/facebook.png" alt="facebook"
                    height="30" width="30"></a>
        </li>
        <li class="footer_social"><a href="https://www.instagram.com/"><img src="/images/instagram.png" alt="instagram"
                    height="30" width="30"></a></li>
        <li class="footer_social">
            <p>Follow Us: </p>
        </li>
        <!-- </div> -->
    </ul>
    <p>© Designed and Developed by Sai Prasad Palli.</p>
</footer>
</body>

</html>