<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Car Trade</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-4.0.0-dist/css/bootstrap.min.css">
</head>

<body>
    <header class="mainHeader">
        <a class="logo" href="/"><img src="/images/CarTrageLogo.png" alt="TradeCars" height="50" width="50"></a> <b>Car
            Trade</b>
        <div id="userAccess">
            <ul>
                <li><a href="/trades">Trades</a></li>
                <%if(!user) {%>
                    <li><a href="/users/login">Login</a></li>
                    <li><a href="/users/new">Signup</a></li>
                <%} else {%>
                    <li><a href="/trades/newTrade">New Trade</a></li>
                    <li><a href="/users/profile">Profile</a></li>
                    <li><a href="/users/logout">Logout</a></li>
                <%}%>
                

            </ul>
        </div>
    </header>

    <nav class="nav_bar">
        <a class="first_a_nav" href="/">Home</a>
    </nav>

    <%if(errorMessages.length > 0){
        errorMessages.forEach(message=>{%>
            <div class = 'error'><%=message%></div>
        <%});
    }%>

    <%if(successMessages.length > 0){
        successMessages.forEach(message=>{%>
            <div class = 'success'><%=message%></div>
        <%});
    }%>