<%- include('../partials/header.ejs')%>

<br>
<form class="form-upload" action='/trades' method = 'POST'>
    <div class="form-group">
        <label>Car Model</label>
        <input type="text" name = "title" class="form-control" placeholder="Model of your car" required>
    </div>
    <div class="form-group">
        <label>Body type</label>
        <input type="text" name = "Btype" class="form-control" placeholder="Car body type" required>
    </div>

    <div class="form-group">
        <label>Car class</label>
        <input type="text" name = "class" class="form-control" placeholder="Car class">
    </div>
    <label>Car Image</label> 

    <div class="custom-file form-group">
        <input type="file" name = "image" class="custom-file-input" id="customFile">
        <label class="custom-file-label" for="customFile">Upload Image</label>
    </div>
    <br>
    <br>    
    <div class="form-group">
        <label>Feature 1</label>
        <input type="text" name = "feature1" class="form-control" placeholder="Car Features">
    </div>

    <div class="form-group">
        <label>Feature 2</label>
        <input type="text" name = "feature2" class="form-control" placeholder="Car Features">
    </div>

    <div class="form-group">
        <label>Feature 3</label>
        <input type="text" name = "feature3" class="form-control" placeholder="Car Features">
    </div>

    <!-- <label>Location</label>
    <div class="form-row">

        <div class="col-7">
            <input type="text" name = "city" class="form-control" placeholder="City">
        </div>
        &nbsp;
        <div class="col">
            <input type="text" name = "state" class="form-control" placeholder="State">
        </div>
        &nbsp;
        <div class="col">
            <input type="text" name = "zip" class="form-control" placeholder="Zip">
        </div>
    </div> -->
    <br>
    <label>Description</label>
    <div class="form-group">
        <!-- <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-pencil-square-o bigicon"></i></span> -->
        <div class="col-md-12">
            <textarea class="form-control" name = "content" id="message" name="message" placeholder="Enter your vechile details here." rows="7"></textarea>
        </div>
    </div>

    <div class="col-auto submit-car">
        <button type="submit" class="btn btn-light mb-2">Submit</button>
    </div>
</form>
<br>
<br>
<br>
<br>
<br>
<br>

  <%- include('../partials/footer.ejs')%>