<%- include('./partials/header.ejs')%>
    <br>

    <!-- check width remove it -->
    <div class="card text-white bg-info mb-3 mx-auto stywidth">
        <div class="card-header">
            About Us
        </div>
        <div class="card-body">
            <blockquote class="blockquote mb-0">
                <p>Car Trade has been my dealership for over a decade, they truly provide exceptional service!</p>
                <footer class="blockquote-footer text-white">Sai Prasad</footer>
            </blockquote>
        </div>
    </div>
    <br>
    <br>
    <%- include('./partials/footer.ejs')%>