<%- include('./partials/header.ejs')%>
    <br>

    <!-- check width remove it -->
    <div class="card text-white bg-info mb-3 mx-auto stywidth">
        <div class="card-header">
            Contact Us
        </div>
        <div class="card-body">
            <blockquote">
                <!-- <h8 class="contact">Contact Us</h8> -->
                <p>Name: Sai Prasad Palli</p>
                <p>Email: spalli@cartrade.org</p>
                <footer class="blockquote-footer text-white">Sai Prasad</footer>
            </blockquote>
        </div>
    </div>
    <br>
    <br>
    <%- include('./partials/footer.ejs')%>