<%- include('./partials/header.ejs')%>
    <br>

    <!-- check width remove it -->
    <div class="card text bg-info mb-3 mx-auto stywidth">
        <div class="card-header">
            <!-- What our customers say! -->
            <h3><%= error.status%> Error</h3>
            <p><%= error.message%></p>
        </div>
    </div>
    <br>
    <br>
    <%- include('./partials/footer.ejs')%>