<%- include('./partials/header.ejs')%>
    <br>
    <br>
    <div class="card bg-dark text-white mx-auto allWidth">
        <img class="card-img" src="images/contact.jpg" alt="Card image" >
        <div class="card-img-overlay">
            <h5 class="card-title">WALK IN TODAY</h5>
            <i class="card-text">Trade your existing car for an exciting and amazing CARS of CHARLOTTE</i>
        </div>
    </div>
    <br>
    <!-- check width remove it -->
    <div class="card text-white bg-info mb-3 mx-auto stywidth">
        <div class="card-header">
            What our customers say!
        </div>
        <div class="card-body">
            <blockquote class="blockquote mb-0">
                <p>Car Trade has been my dealership for over a decade, they truly provide exceptional service!</p>
                <footer class="blockquote-footer text-white">Prasad Sai</footer>
            </blockquote>
        </div>
    </div>
    <br>
    <br>
    <%- include('./partials/footer.ejs')%>